Package: enigma2-plugin-skin-mediaportal-blue-line-fhd
Version: 1.2
Section: base
OE: enigma2-plugins
License: open
Priority: optional
Architecture: all
Maintainer: stein17
Description: FHD Skin for Mediaportal by stein17
Source: http://octagon-forum.eu/forums/skins.93/
Homepage: http://octagon-forum.eu/

